In [1]:
url = "https://data.seattle.gov/api/views/38vd-gytv/rows.csv?accessType=DOWNLOAD"
url_try = 'https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD'

In [2]:
from urllib.request import urlretrieve
urlretrieve(url, "flow")
urlretrieve(url_try, "try")
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('flow', index_col = 'OBJECTID', parse_dates = True)
data.head()

,STNAME,COUNT_LOCATION,YEAR,SEGKEY,AAWDT,INPUT_STUDY_ID
OBJECTID,,,,,,
1,RENTON AVE S,"RENTON AVE S, N/O S CLOVERDALE ST",2014,12522,9800,315994
2,AIRPORT WAY S,"AIRPORT WAY S, N/O S NORFOLK ST",2014,8702,12300,316688
3,N 65TH ST,"N 65TH ST, W/O LINDEN AVE N",2014,15794,7800,314379
4,2ND AVE,"2ND AVE, NW/O LENORA ST",2014,2762,11900,313796
5,LAKE CITY WAY NE,"LAKE CITY WAY NE, S/O NE 145TH ST",2014,11190,40900,316269

In [4]:
#use this data to try the function 
data_try = pd.read_csv('try', index_col = 'Date',parse_dates = True)

In [5]:
#1 The DataFrame contains only the columns that you specified in #1.
def columns(data_input):
    column_name = ['STNAME', 'COUNT_LOCATION', 'YEAR', 'SEGKEY', 'AAWDT', 'INPUT_STUDY_ID']
    if list(data_input) == column_name:
        return True
    else:
        return False
columns(data)

True

In [6]:
#2 The columns contain the correct data type
df = data
data_type = df.dtypes
def types(input):
    if input.dtypes.all() == df.dtypes.all():
        return True
    
    else:
        return False
types(data_try)

False

In [7]:
#3 There are at least 10 rows in the DataFrame.
def numbers(data_input):
    if len(data_input) > 10:
        return True
    else:
        return False
numbers(data)
numbers(data_try)

True

In [8]:
#Use the data_try to test the above function

In [9]:

def columns(data_input):
    column_name = ['STNAME', 'COUNT_LOCATION', 'YEAR', 'SEGKEY', 'AAWDT', 'INPUT_STUDY_ID']
    if list(data_input) == column_name:
        return True
    else:
        return False
columns(data_try)

False

In [10]:
df = data
data_type = df.dtypes
def types(input):
    if input.dtypes.all() == df.dtypes.all():
        return True
    
    else:
        return False
types(data_try)

False

In [11]:
def numbers(data_input):
    if len(data_input) > 10:
        return True
    else:
        return False
numbers(data_try)

True